.navBar {
    background-color: rgba(0, 0, 0, 0.900);
    display: flex;
    /* position: relative; */
    align-items: center;
    /* alinea los items en el centro (Y) */
    justify-content: center;
    /* alinea los items en el centro (X) */
    justify-content: space-around;
    padding: 1%;
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 10px 5px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.backgroundBar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.buttonsBar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;
    border: none;
    background-color: #1e94227f;
    width: 70%;
    height: 90px;
}

.home {
    display: block;
    width: 80%;
    height: 70%;
    padding-left: 1rem;

    .homeButton {
        width: 100%;
        height: 100%;
        border: 0.1px solid rgba(0, 0, 0, 0.150);
        border-radius: 2rem;
        cursor: pointer;
        background-color: #ffffff00;
        /* border-bottom: 2px solid #000000; */
        box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.75);
    }

    .homeButton:hover {
        background-color: rgba(0, 0, 0, 0.600);
    }

    .homeButton:active {
        transform: scale(0.90);
        transition: 100ms;
        background-color: rgba(0, 0, 0, 0.225);
        /* Cambia el fondo al hacer clic */
        color: white;
        /* Cambia el color del texto al hacer clic */
    }
}

.favorites {
    display: block;
    width: 80%;
    height: 70%;

    .favoritesButton {
        position: relative;
        /* No deja salir la notificacion de la box*/
        width: 100%;
        height: 100%;
        border: 0.1px solid rgba(0, 0, 0, 0.150);
        border-radius: 2rem;
        cursor: pointer;
        background-color: #83838300;
        box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.75);
    }

    .favoritesButton:hover {
        background-color: rgba(0, 0, 0, 0.600);
    }

    .favoritesButton:active {
        transform: scale(0.90);
        transition: 100ms;
        background-color: rgba(0, 0, 0, 0.300);
        color: white;
    }
}

.notification {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.4rem;
    height: 1.4rem;
    position: absolute;
    top: 0px;
    right: 0%;
    font-size: 10px;
    margin-left: 0.75rem;
    border-radius: 50%;
    margin: 0px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-size: smaller;
    transition: 0.15s ease-in;
    z-index: 9;
}

.about {
    display: block;
    width: 80%;
    height: 70%;

    .aboutButton {
        width: 100%;
        height: 100%;
        border: 0.1px solid rgba(0, 0, 0, 0.150);
        border-radius: 2rem;
        cursor: pointer;
        background-color: #96919100;
        color: #ffffff;
        box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.75);
    }

    .aboutButton:hover {
        background-color: rgba(0, 0, 0, 0.600);
    }

    .aboutButton:active {
        transform: scale(0.90);
        transition: 100ms;
        background-color: rgba(0, 0, 0, 0.300);
        color: white;
    }
}

.logOut {
    display: block;
    width: 80%;
    height: 70%;
    padding-right: 1rem;

    .logOutButton {
        width: 100%;
        height: 100%;
        border: 0.1px solid rgba(0, 0, 0, 0.150);
        border-radius: 2rem;
        cursor: pointer;
        background-color: #96919100;
        color: #ffffff;
        box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.75);
    }

    .logOutButton:hover {
        background-color: rgba(0, 0, 0, 0.600);
    }

    .logOutButton:active {
        transform: scale(0.90);
        transition: 100ms;
        background-color: rgba(0, 0, 0, 0.300);
        color: white;
    }
}

.navSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
}

/*? Random button ______________________________________________*/

.random {
    text-decoration: none;
    position: relative;
    border: none;
    font-size: 14px;
    font-family: inherit;
    color: #ffffff;
    /* width: 9em; */
    /* height: 0%; */
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg, #03f40b, #f441a5, #f441a5, #03f40b);
    background-size: 300%;
    border-radius: 100%;
    z-index: 1;
}

.random:hover {
    animation: ani 8s linear infinite;
    border: none;
}

@keyframes ani {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.random:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    background: linear-gradient(90deg, #03f40b, #e13db2, #f441a5, #e13db2);
    background-size: 400%;
    border-radius: 100%;
    transition: 1s;
}

.random:hover::before {
    filter: blur(20px);
}

.random:active {
    background: linear-gradient(32deg, #03f40b, #e13db2, #f441a5, #e13db2);
}

.random:active {
    transform: scale(0.85);
}

.giCardRandom {
    padding: 0.4rem;
}