.all {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 83vh;
}

.aboutBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  background-color: rgba(0, 0, 0, 0.700);
  width: 50%;
  border-radius: 2rem;
}

.text {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.text1 {
  display: flex;
  align-items: center;
  padding-left: 3rem;
  padding-right: 1.4rem;
  padding-top: 1rem;
  color: #fff;
}

.text2 {
  display: flex;
  align-items: center;
  text-align: justify;
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-bottom: 2rem;
  color: #fff;
}

.h2 {
  padding-right: 3rem;
  text-align: left;
  font-family: 'Blinker', sans-serif;
  font-weight: bold;
  font-size: large;
}

.map {
  width: 35%;
  border: none;
  border-radius: .5rem;
  height: 22vh;
}

.h3 {
  padding-right: 1rem;
  text-align: left;
  font-family: 'Blinker', sans-serif;
  font-weight: bold;
  font-size: large;
}

.photo {
  height: 22rem;
  border-radius: 1rem 0 1rem 1rem;
}

.socialBar {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  margin-right: 1%;
  padding: 6px;
  position: relative;
  top: -10.4%;
  border-radius: 0 .5rem 0.5rem 0;
}

.icon {
  text-decoration: none;
  color: #000000;
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 6px;
}

.icon:hover {
  color: #eb2dc1;
  transition: 0.5s ease;
}

.icon:not(:hover) {
  transition: 0.5s ease;
}

/*! sticker______________________________________________________________________________________________*/

.sticker {
  position: fixed;
  right: 1%;
  bottom: 0;
  width: 180px;
  z-index: 3;
  overflow: hidden;
  --transition-duration: 700ms;
  transition: transform var(--transition-duration);
}

.bubble {
  position: fixed;
  right: 90px;
  bottom: 7.5%;
  width: 290px;
  z-index: 4;
  opacity: 0;
  animation: showBubble 1s 5s forwards;
}

.bubbleText {
  position: fixed;
  right: 0;
  bottom: 15%;
  width: 350px;
  z-index: 5;
  opacity: 0;
  animation: showBubbleText 1s 5s forwards;
}

.typeWriter {
  color: black;
  font-family: 'Press Start 2P', cursive;
  font-size: 9px;
  width: 70%;
  z-index: 6;
}

@keyframes showBubble {
  to {
    opacity: 1;
  }
}

@keyframes hideBubble {
  to {
    opacity: 0;
  }
}

@keyframes showBubbleText {
  to {
    opacity: 1;
  }
}

@keyframes hideBubbleText {
  to {
    opacity: 0;
  }
}

.sticker:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .all {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200vh;
  }

  .aboutBox {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .text1,
  .text2 {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .map {
    width: 100%;
  }

  .socialBar {
    position: static;
    margin: 20px 0;
    top: 0;
    border-radius: 0;
  }
}