@keyframes color-change-5x{0%{background:#cacaca}25%{background:#9268a9}50%{background:#697eaf}75%{background:#545454}100%{background:#518242}}
.App {
  animation:color-change-5x 8s linear infinite alternate both;
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}