.backForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('https://images.squarespace-cdn.com/content/v1/56049db4e4b0eddafbc7b690/1580878578344-PT1N8M9NTQBGNVIA9HE3/RM_Lab_rick_v01.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

.ImgBox{
  display: flex;
  justify-content: left;
  width: 60%;
}

.imgForm {
  width: 90%;
}

.formBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  padding: 0 0 20px 0;
}

.login {
  font-size: 25px;
  font-family: 'Blinker', sans-serif;
  color: #fff;
}

.emailField Input {
  border-radius: 5px;
  height: 45px;
}

.passwordField Input {
  height: 34px;
}

.spanBox {
  display: flex;
  align-items: center;
  margin: 0 0 1.7rem;
}

.span {
  margin: 0 5px;
  color: white;
}

@media screen and (max-width: 1024px) {
  .backForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* min-height: 100vh; */
    background: url('https://images.squarespace-cdn.com/content/v1/56049db4e4b0eddafbc7b690/1580878578344-PT1N8M9NTQBGNVIA9HE3/RM_Lab_rick_v01.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
  }

  .ImgBox{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 5px;
  }

  .imgForm {
    width: 50%;
  }

  .formBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    padding: 0 0 20px 0;
  }
}