@keyframes vibrate-1 {
    0% {
        transform: translate(0)
    }
    20% {
        transform: translate(-2px, 2px)
    }
    40% {
        transform: translate(-2px, -2px)
    }
    60% {
        transform: translate(2px, 2px)
    }
    80% {
        transform: translate(2px, -2px)
    }
    100% {
        transform: translate(0)
    }
}

.backForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://images.squarespace-cdn.com/content/v1/56049db4e4b0eddafbc7b690/1580878578344-PT1N8M9NTQBGNVIA9HE3/RM_Lab_rick_v01.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

.imgForm {
    animation: vibrate-1 .3s linear infinite both;
    /*animacion vibrate*/
    display: flex;
    margin-right: 60px;
}

.formBox {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-position: center; */
    /* position: relative; */
    max-width: 100%;
    width: 440px;
    height: 450px;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    padding: 20px;
    line-height: 20px;
    text-align: center;
}

.formBox::before {
    border-radius: 50px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 4px solid black;
    opacity: 0.28
}

.form {
    display: inline;
    padding-left: 4%;
}

.login {
    font-size: 250%;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: 'Blinker', sans-serif;
    color: #fff;
    text-align: center;
    margin-bottom: 60px;
    margin-left: -8%;
}

.inputBox {
    /* display: flex; */
    /* align-items: center; */
    margin-bottom: 38px;
    position: relative;
    width: 310px;
    /* margin: 30px 0; */
    /* border-bottom: 2px solid #ffffff */
}

.inputBox label {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 18px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.inputBox input:focus~label,
.inputBox input:valid~label {
    top: -20px;
}

.inputBox input {
    border: none;
    border-bottom: 2px solid #fff;
    width: 82%;
    height: 30px;
    background: transparent;
    /* border: none; */
    outline: none;
    font-size: 1rem;
    color: #fff;
    padding: 0 35px 0 5px;
    margin-left: -8%;
    /* text-align: left; */

}

.errors {
    color: #fff;
}

.inputBox .icon {
    margin-right: 10px;
    background-image: '';
    position: absolute;
    top: -24px;
    left: 240px;
    color: #fff;
    font-size: 1.2rem;
    line-height: 80px;
}

.form .inputBox:first-of-type .icon {
    top: -24px;
}

.log {
    width: 50px;
}

/* .input-box .icon img {
    width: 10%;
} */

.imgLogin {
    display: flex;
    width: 200px;
    padding-right: 40px;
    /* margin-right: 40px; */
}

.submit {
    position: relative;
    /* box-shadow: 0 0 5px rgb(30, 255, 0), 0 0 25px; */
    font-size: 1.5rem;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: 'Blinker', sans-serif;
    font-weight: 500;
    width: 100%;
    height: 48px;
    background: rgba(30, 186, 10, 0.8);
    line-height: 15px;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    color: #fff;
    margin-top: 25px;
    margin-left: -8%;
}

.submit:hover {
    scale: .85;
    transition: 500ms;
    box-shadow: 0 0 5px rgb(30, 255, 0),
    0 0 25px rgb(30, 255, 0), 0 0 50px rgb(30, 255, 0),
    0 0 100px rgb(30, 255, 0), 0 0 200px rgb(30, 255, 0);
}

.submit:not(:hover) {
    transition: 500ms;
}