.cards {
    display: flex;
    flex-wrap: wrap;
    /* Va creando mas filas */
    justify-content: center;
    gap: 30px;
    /* Da espacio entre filas */
}

.typeWriter {
    color: black;
    font-family: 'Press Start 2P', cursive;
    width: 100%;
    z-index: 6;
}

@keyframes showBubble {
    to {
        opacity: 1;
    }
}

@keyframes hideBubble {
    to {
        opacity: 0;
    }
}

@keyframes showBubbleText {
    to {
        opacity: 1;
    }
}

@keyframes hideBubbleText {
    to {
        opacity: 0;
    }
}

.sticker:hover {
    transform: scale(1.1);
}

/*Todo responsive*/

@media screen and (max-width: 768px) {
    .cards {
        justify-content: center;
        /* Centra las tarjetas en pantallas pequeñas */
    }

    .sticker,
    .typeWriter,
    .bubble,
    .bubbleText {
        margin: 0;
        /* Elimina el margen */
    }

    .sticker:hover {
        transform: none;
        /* Elimina la transformación al hacer hover en pantallas pequeñas */
    }

    .sticker:not(:hover)~.bubble,
    .sticker:not(:hover)~.bubbleText {
        opacity: 1;
        /* Muestra los elementos de burbuja en pantallas pequeñas */
    }
}