.box {
    margin-top: 2rem;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    height: 54rem;
    font-family: 'Blinker', sans-serif;
    font-weight: bold;
    color: #ffffff;
}

hr {
    width: 85%;
}

.box1 {
    padding: .2rem;
}

.detailBox {
    background-color: rgba(0, 0, 0, 0.400);
    width: 40%;
    border-radius: 2rem;
}

.image {
    padding: 1.5rem;
    width: 400px;
    border-radius: 100%;
    /* border-radius: 1rem; */
}

.card {
    display: flex;
    flex-wrap: wrap;
    /* Va creando mas filas */
    justify-content: space-evenly;
    /* Da espacio entre las cards de las filas */
    gap: 30px;
    /* Da espacio entre filas */
    margin-top: 1.5rem;
}

.sticker {
    position: fixed;
    right: 0%;
    bottom: 0;
    width: 15%;
    z-index: 3;
    overflow: hidden;
    --transition-duration: 700ms;
    transition: transform var(--transition-duration);
}

.bubble {
    position: fixed;
    right: 8.5%;
    bottom: 12%;
    width: 20%;
    z-index: 4;
    opacity: 0;
    animation: showBubble 1s 1s forwards, hideBubble 1s 4s forwards;
}

.bubbleText {
    position: fixed;
    right: 7.8%;
    bottom: 20.5%;
    width: 20%;
    z-index: 5;
    opacity: 0;
    animation: showBubbleText 1s 1s forwards, hideBubbleText 1s 4s forwards;
}

.typeWriter {
    color: black;
    font-family: 'Press Start 2P', cursive;
    width: 100%;
    z-index: 6;
}

@keyframes showBubble {
    to {
        opacity: 1;
    }
}

@keyframes hideBubble {
    to {
        opacity: 0;
    }
}

@keyframes showBubbleText {
    to {
        opacity: 1;
    }
}

@keyframes hideBubbleText {
    to {
        opacity: 0;
    }
}

.sticker:hover {
    transform: scale(1.1);
}