.box {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-family: 'Blinker', sans-serif;
  font-weight: bold;
  height: 83vh;
  justify-content: center;
}

hr {
  width: 90%;
}

.box1 {
  margin: 0 1.5rem 0 1rem;
}

.closeButton {
  border: none;
  background: rgba(0, 0, 0, 0);
  position: relative;
  bottom: 130px;
  right: 20px;
  z-index: 4;
}

.detailBox {
  background-color: rgba(0, 0, 0, 0.400);
  border-radius: 2rem;
}

.topInformation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.episodesBox {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.seasonBox {
  margin: 0 .5rem 1.5rem .5rem;
}

.seasonBox h3 {
  margin: 0;
}

.seasonBox p {
  margin: 5px;
}

.image {
  padding: 1.5rem 0 1.5rem 1.5rem;
  width: 300px;
  border-radius: 100%;
  /* border-radius: 1rem; */
}

.card {
  display: flex;
  flex-wrap: wrap;
  /* Va creando mas filas */
  justify-content: space-evenly;
  /* Da espacio entre las cards de las filas */
  gap: 30px;
  /* Da espacio entre filas */
  margin-top: 1.5rem;
}