.cardBox {
  --transition-duration: 700ms;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
  border: 0.5px solid black;
  max-width: 100%;
  width: 550px;
  color: white;
  padding: 1rem;
  border-radius: 0.6em;
  box-shadow: 12px 12px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 12px 12px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 12px 12px 5px 0px rgba(0, 0, 0, 0.75);
  background: radial-gradient(circle at 100% -200%, transparent 50%, rgb(0, 0, 0));
  z-index: 1;
  transition: transform var(--transition-duration);
}

.closeButton {
  border: none;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 4;
}

.buttons {
  border: none;
  background: rgba(0, 0, 0, 0);
  z-index: 5;
}

.imgCard {
  border-radius: 100%;
  transition: transform var(--transition-duration);
}

.nameOut {
  color: #dcdcdc;
  max-width: 100%;
  overflow-wrap: break-word;
  position: absolute;
  padding-left: 1rem;
  transition-delay: calc(var(--transition-duration) / 8);
  transition-property: opacity, transform;
  transition-duration: calc(var(--transition-duration) / 2);
  transform: translateY(100%);
  z-index: 2;
}

.nameIn {
  color: #fff;
  text-decoration: none;
  text-decoration-line: inherit;
}

.detail {
  overflow-wrap: break-word;
  font-size: 14px;
  transition-delay: calc(var(--transition-duration) / 8);
  transition-property: opacity, transform;
  transition-duration: calc(var(--transition-duration) / 2);
  /* Los tres anteriores son para cuando sale el texto */
}

.detail h1 {
  margin-top: 0;
}

.imgBox {
  display: flex;
  position: relative;
  justify-content: right;
  align-items: end;
}

.cardBox:hover {
  transform: scale(1.03);

  .detail {
    transition-duration: var(--transition-duration);
    transition-delay: calc(var(--transition-duration) / 3);
  }

  .nameOut {
    opacity: 0;
    transform: translateY(1em);
  }

}

.cardBox:not(:hover) {
  .detail {
    opacity: 0;
    transform: translateY(1em);
  }
}