.SearchBarHeader {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0 5px 0 5px;
  width: 100%;
}

.searchBox {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5rem;
  border: 1px solid rgba(0, 0, 0, 0.400);
  background-color: white;
  width: 94%;
  height: 80%;
}

/*
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 70%;
  padding-left: 1rem;
  color: white;
}

.inputCharacters {
  width: 100%;
  height: 100%;
  border: 0.1px solid rgba(0, 0, 0, 0.150);
  border-radius: 2rem;
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.75);
  font-family: 'Blinker', sans-serif;
  font-size: x-large;
  font-weight: bold;
  padding-left: 2rem;
}

.add {
  display: block;
  width: 20%;
  height: 70%;
  padding-right: 1rem;

  .addButton {
    width: 100%;
    height: 100%;
    border: 0.1px solid rgba(0, 0, 0, 0.150);
    border-radius: 2rem;
    cursor: pointer;
    background-color: #96919100;
    color: #ffffff;
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.75);
    font-family: 'Blinker', sans-serif;
  }

  .addButton:hover {
    background-color: rgba(0, 0, 0, 0.600);
  }

  .addButton:active {
    transform: scale(0.90);
    transition: 100ms;
    background-color: rgba(0, 0, 0, 0.300);
    color: white;
  }

  :hover {
    transition: .5s ease;
  }

  :not(:hover) {
    transition: .5s ease;
  }
}
*/