.cards {
    display: flex;
    flex-wrap: wrap;
    /* Va creando mas filas */
    justify-content: space-evenly;
    /* Da espacio entre las cards de las filas */
    gap: 30px;
    /* Da espacio entre filas */
    margin-top: 2rem;
}

.sticker {
    position: fixed;
    right: 0%;
    bottom: 0;
    width: 15%;
    z-index: 3;
    overflow: hidden;
    --transition-duration: 700ms;
    transition: transform var(--transition-duration);
}

.bubble {
    position: fixed;
    right: 8.5%;
    bottom: 12%;
    width: 20%;
    z-index: 4;
}

.bubbleText {
    position: fixed;
    right: 8%;
    bottom: 22%;
    width: 20%;
    z-index: 5;
}

.typeWriter {
    color: black;
    font-family: 'Press Start 2P', cursive;
    width: 100%;
    z-index: 6;
}

.sticker:hover {
    transform: scale(1.03);
}

.sticker:not(:hover)~.bubble,
.sticker:not(:hover)~.bubbleText {
    opacity: 0;
}

/*Todo responsive*/

@media screen and (max-width: 768px) {
    .cards {
        justify-content: center; /* Centra las tarjetas en pantallas pequeñas */
    }

    .sticker,
    .typeWriter,
    .bubble,
    .bubbleText {
        margin: 0; /* Elimina el margen */
    }

    .sticker:hover {
        transform: none; /* Elimina la transformación al hacer hover en pantallas pequeñas */
    }

    .sticker:not(:hover)~.bubble,
    .sticker:not(:hover)~.bubbleText {
        opacity: 1; /* Muestra los elementos de burbuja en pantallas pequeñas */
    }
}